:root {
  --whitish: rgb(211, 233, 233);
  --darkblue: rgb(16, 97, 151);
}

body {
  background-color: black;
  color: #eee;
}

main {
  padding: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: #eee;
  display: inline-block;
  width: 100px;
  border: 0;
}

button.with-text {
  width: auto;
  background-color: rgb(68, 68, 68);
  border-radius: 10px;
  font-size: 1.4rem;
  line-height: 36px;
  padding: 10px;
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}
label {
  display: block;
}
