.slider {
  height: 40px;
  border: 2px solid var(--whitish);
  border-radius: 15px;
}
.slider-green {
  height: 40px;
  border: 2px solid var(--darkblue);
  border-radius: 15px;
}
.thumb {
  background-color: var(--whitish);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.slider-green .thumb {
  background-color: var(--darkblue);
}
